[Desktop Entry]
Comment=KCmNfsModule - a KControl module for configuring a NFS server
DocPath=
Exec=kcmshell kcmnfsmodule
Icon=
Keywords=KCmNfsModule,kcmnfsmodule,nfs,NFS
Name=NFS Configuration
Name[de]=NFS Einrichtung
SwallowExec=
SwallowTitle=
Terminal=false
TerminalOptions=
Type=Application
X-KDE-FactoryName=KCmNFSModule
X-KDE-Library=kcmnfsmodule
X-KDE-ModuleType=Library
X-KDE-SubstituteUID=false
X-KDE-Username=
