[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=NFS directory properties page
Name[de]=NFS Freigabe Information
X-KDE-Library=knfskonqiplugin
ServiceTypes=KPropsDlg/Plugin,inode/directory
