[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell fileshare
Icon=share
Type=Application

X-KDE-ModuleType=Library
X-KDE-Library=fileshare
X-KDE-ParentApp=kcontrol
X-KDE-RootOnly=true

Name=File Sharing
Name[fr]=Partage de fichiers
Name[x-test]=xxFile Sharingxx

Comment=Enable or disable file sharing
Comment[fr]=Activer ou désactiver le partage de fichiers
Comment[x-test]=xxEnable or disable file sharingxx

Keywords=Share
Keywords[fr]=partage
Keywords[x-test]=xxSharexx

Categories=Qt;KDE;X-KDE-settings-network;
