[Desktop Entry]
Exec=kcmshell fileshare
Icon=share
Type=Application

X-KDE-ModuleType=Library
X-KDE-Library=fileshare
X-KDE-ParentApp=kcontrol
X-KDE-RootOnly=true

Name=File Sharing
Name[be]=Публікацыя файлаў
Name[bg]=Споделяне на файлове
Name[bn]=ফাইল ভাগাভাগি
Name[br]=Rannañ restroù
Name[bs]=Dijeljenje datoteka
Name[ca]=Compartició de fitxers
Name[cs]=Sdílení souborů
Name[cy]=Rhannu Ffeiliau
Name[da]=Fildeling
Name[de]=Dateifreigabe
Name[el]=Κοινή χρήση αρχείων
Name[eo]=Dosierkomunigado
Name[es]=Compartir archivos
Name[et]=Failijagamine
Name[eu]=Fitxategi partekatzea
Name[fa]=اشتراک پرونده
Name[fi]=Tiedostojen jakaminen
Name[fr]=Partage de fichiers
Name[ga]=Roinnt na gComhad
Name[gl]=Compartición de ficheiros
Name[he]=שיתוף קבצים
Name[hu]=Fájlmegosztás
Name[is]=Deila skrám
Name[it]=Condivisione di file
Name[ja]=ファイル共有
Name[ka]=ფაილთა გაზიარება
Name[kk]=Файлдарды ортақтастыру
Name[km]=ការ​ចែក​រំលែក​ឯកសារ
Name[lt]=Dalinimasis bylomis
Name[mk]=Делење на датотеки
Name[nb]=Fildeling
Name[nds]=Dateifreegaav
Name[ne]=फाइल साझेदारी
Name[nl]=Bestanden delen
Name[nn]=Fildeling
Name[pa]=ਫਾਇਲ ਸ਼ਾਂਝ
Name[pl]=Współdzielenie plików
Name[pt]=Partilha de Ficheiros
Name[pt_BR]=Compartilhamento de Arquivos
Name[ro]=Partajare fişiere
Name[ru]=Совместное использование файлов
Name[se]=Fiilajuohkkin
Name[sk]=Zdieľanie súborov
Name[sl]=Souporaba datotek
Name[sr]=Дељење фајлова
Name[sr@Latn]=Deljenje fajlova
Name[sv]=Filutdelning
Name[ta]=கோப்பு பகிர்வு
Name[tg]=Истифодабарии муштараки файлҳо
Name[tr]=Dosya Paylaşımı
Name[uk]=Спільний доступ до файлів
Name[uz]=Fayl bilan boʻlishish
Name[uz@cyrillic]=Файл билан бўлишиш
Name[zh_CN]=文件共享
Name[zh_HK]=檔案分享
Name[zh_TW]=檔案分享

Comment=Enable or disable file sharing
Comment[be]=Уключыць/выключыць выкарыстанне агульных рэсурсаў
Comment[bg]=Настройване споделянето на файлове
Comment[bn]=ফাইল ভাগাভাগি সক্রিয় অথবা নিষ্ক্রিয় করুন
Comment[bs]=Uključi ili isključi dijeljenje datoteka
Comment[ca]=Habilita o deshabilita la compartició de fitxers
Comment[cs]=Povolit nebo zakázat sdílení souborů
Comment[da]=Aktivér eller deaktivér fildeling
Comment[de]=Dateifreigabe aktivieren/deaktivieren
Comment[el]=Ενεργοποίηση ή απενεργοποίηση της κοινής χρήσης αρχείων
Comment[eo]=Ŝalti aŭ malŝalti dosierkomunigadon
Comment[es]=Habilitar o deshabilitar el compartir archivos
Comment[et]=Failide jagamise lubamine või keelamine
Comment[eu]=Gaitu edo ezgaitu fitxategi partekatzea
Comment[fa]=فعال یا غیرفعال‌سازی اشتراک پرونده
Comment[fi]=Ota tiedostojen jakaminen käyttöön tai pois käytöstä
Comment[fr]=Activer ou désactiver le partage de fichiers
Comment[gl]=Habilitar ou deshabilitar a compartición de fichieros
Comment[he]=אפשר או מנע שיתוף קבצים
Comment[hu]=A fájlmegosztás ki-be kapcsolása
Comment[is]=Virkja eða slökkva á skráardeilingu um net
Comment[it]=Abilita o disabilita la condivisione dei file
Comment[ja]=ファイル共有を有効または無効にします
Comment[ka]=ფაილთა გაზიარების ჩართვა ან გამორთვა
Comment[kk]=Файл ортақтастыруды рұқсат ету/етпеу
Comment[km]=អនុញ្ញាត ឬ មិន​អនុញ្ញាត​ការ​ចែក​រំ​លែក​ឯកសារ
Comment[lt]=Įjungti ar išjungti bylų dalinimąsi
Comment[mk]=Овозможува или оневозможува делење на датотеки
Comment[nb]=Slå på og av fildeling
Comment[nds]=Dateifreegaven an- oder utmaken
Comment[ne]=फाइल साझेदारी सक्षम वा अक्षम पार्नुहोस्
Comment[nl]=Bestanden delen in- en uitschakelen
Comment[nn]=Slå på eller av fildeling
Comment[pl]=Włącza lub wyłącza współdzielenie plików
Comment[pt]=Activa ou desactiva a partilha de ficheiros
Comment[pt_BR]=Habilita ou desabilita o compartilhamento de arquivos
Comment[ro]=Activează sau dezactivează partajarea de fişiere
Comment[ru]=Включить или выключить общий доступ к файлам
Comment[se]=Suova dahje ale suova fiilajuohkkima
Comment[sk]=Povolenie alebo zakázanie zdieľania súborov
Comment[sl]=Omogoči ali onemogoči souporabo datotek
Comment[sr]=Укључи или искључи дељење фајлова
Comment[sr@Latn]=Uključi ili isključi deljenje fajlova
Comment[sv]=Aktivera eller inaktivera filutdelning
Comment[ta]=கோப்பு பகிர்வை செயல்படுத்து அல்லது செயல்நீக்கு
Comment[tg]=Фаъол сохтан ё хомӯш кардани истифобадарии муштараки файлҳо
Comment[tr]=Dosya paylaşımını etkinleştir/kapat
Comment[uk]=Увімкнення або вимикання спільного доступу до файлів
Comment[zh_CN]=启用或禁用文件共享
Comment[zh_HK]=啟用或停用檔案分享
Comment[zh_TW]=開啟或關閉檔案分享

Keywords=Share
Keywords[be]=Агульны рэсурс
Keywords[bg]=настройки, локална, мрежа, споделяне, share
Keywords[br]=Rannañ
Keywords[bs]=dijeljenje
Keywords[ca]=Compartit
Keywords[cs]=sdílení
Keywords[da]=Del
Keywords[de]=Freigabe
Keywords[el]=Κοινόχρηστο
Keywords[eo]=Komunaĵo
Keywords[es]=Compartir
Keywords[et]=Jagamine
Keywords[fa]=مشترک
Keywords[fi]=Jakaminen,Jako
Keywords[fr]=partage
Keywords[gl]=Compartir
Keywords[he]=שיתוף, share
Keywords[hu]=Megosztás
Keywords[is]=Deild
Keywords[it]=Condivisione
Keywords[ja]=共有
Keywords[ka]=საზიარო
Keywords[km]=ការ​ចែក​រំ​លែក
Keywords[lt]=Share,dalinimasis,dalintis,pasidalinti
Keywords[mk]=Делена
Keywords[nb]=Dele
Keywords[nds]=Delen,Freegaav,Freegaven
Keywords[ne]=साझेदार
Keywords[nl]=delen
Keywords[nn]=deling
Keywords[pa]=ਸਾਂਝ
Keywords[pl]=współdzielenie,pliki
Keywords[pt]=Partilhar
Keywords[pt_BR]=compartilhamento de arquivos
Keywords[ro]=partajare
Keywords[ru]=Общий ресурс
Keywords[sk]=zdieľaný disk,share
Keywords[sl]=Souporaba
Keywords[sr]=Share,дељење
Keywords[sr@Latn]=Share,deljenje
Keywords[sv]=Dela
Keywords[ta]=பகிர்வு
Keywords[tg]=Муштаракан доштан
Keywords[tr]=Paylaş
Keywords[uk]=Спільний ресурс
Keywords[zh_CN]=Share,共享

Categories=Qt;KDE;X-KDE-settings-network;Settings;
