[Desktop Entry]
Type=Service
Icon=fileshare
Name=Fileshare Konqueror Directory Properties Page
Name[bg]=Настройки за приставката за браузъра за споделяна на файлове
Name[bn]=ফাইল ভাগাভাগি কনকরার ডিরেক্টরী বৈশিষ্ট্যাবলী পাতা
Name[bs]=Stranica sa osobinama dijeljenja direktorija u Konqueroru
Name[ca]=Pàgina de propietats de compartició de fitxers Konqueror
Name[cs]=Stránka vlastností adresáře sdílení Konqueroru
Name[da]=Fileshare Konqueror-mappens side med egenskaber
Name[de]=Dateifreigabe Konqueror Ordner-Eigenschaftenseite
Name[el]=Σελίδα ιδιοτήτων κοινόχρηστου καταλόγου του Konqueror
Name[eo]=dosierujo-eco-paĝo
Name[es]=Página de propiedades del directorio para compartir archivos de Konqueror
Name[et]=Failijagamise Konquerori kataloogi omaduste lehekülg
Name[eu]=Fitxategiak partekatzeko Konqueror direktorio propietateen orria 
Name[fa]=صفحۀ ویژگیهای فهرست راهنمای اشتراک پروندۀ Konqueror
Name[fi]=Konquerorin tiedostojakojen ominaisuussivu
Name[fr]=Page des propriétés d'un dossier de partage de Konqueror
Name[gl]=Páxina coas Propiedades do Directorio de Ficheiros Compartidos de Konqueror
Name[he]=דף מאפייני ספרית קבצים משותפת של Konqueror
Name[hu]=Fájlmegosztási lap a Konqueror könyvtártulajdonságainál
Name[is]=Skráastjóraeiginleikar Konqueror
Name[it]=Pagina delle proprietà di Konqueror per la condivisione
Name[ja]=Konqueror でファイル共有するディレクトリのプロパティのページ
Name[ka]=Konqueror-ის ფაილთა გაზიარების თვისებების გვერდი
Name[kk]=Konqueror файлдарын ортақтастыру каталогының қасиеттер беті
Name[km]=ទំព័រ​លក្ខណៈ​សម្បត្តិ​ថត Konqueror សម្រាប់​ការ​ចែក​រំលែក
Name[lt]=Bylų dalinimosi Konqueror aplanko nustatymų puslapis
Name[mk]=Страница со параметри за делен именик во Konqueror
Name[nb]=Fildeler – Side i Konquerors mappegenskaper
Name[nds]=Konqueror Ornerfreegaav-Egenschappensiet
Name[ne]=फाइल साझेदारी कन्क्वेरर डाइरेक्टरी विशेषता पृष्ठ
Name[nl]=Configuratiepagina Konqueror bestanden delen
Name[nn]=Side for katalogeigenskapar til fildeling i Konqueror
Name[pa]=ਫਾਇਲ ਸਾਂਝ ਕੋਨਕਿਊਰੋਰ ਡਾਇਰੈਕਟਰੀ ਵਿਸ਼ੇਸ਼ਤਾ ਸਫ਼ਾ
Name[pl]=Strona współdzielenia we właściwościach katalogu w Konquerorze
Name[pt]=Página de Propriedades da Pasta de Partilha do Konqueror
Name[pt_BR]=Página de Propriedades do Diretório de Compartilhamento de Arquivos do Konqueror
Name[ru]=Страница свойств каталога для общего доступа
Name[sk]=Nastavenie zdieľania priečinkov pre Konqueror
Name[sl]=Stran z lastnostmi za souporabo mape
Name[sr]=Страна Konqueror-а са својствима директоријума за дељење фајлова
Name[sr@Latn]=Strana Konqueror-a sa svojstvima direktorijuma za deljenje fajlova
Name[sv]=Konquerors fildelningssida med katalogegenskaper
Name[ta]=Fileshare Konqueror அடைவு பண்புகளின் பக்கம்
Name[tg]=Саҳифаи Феҳристи Хусусиятҳо оиди Konqueror Истифодабарии Муштараки Файлҳо
Name[tr]=Dosya Paylaşımı Konqueror Dizin Özellikleri Sayfası
Name[uk]=Сторінка властивостей каталогу для спільного доступу
Name[zh_CN]=文件共享 Konqueror 目录属性页
Name[zh_HK]=檔案分享 Konqueror 目錄屬性頁
Name[zh_TW]=Konqueror 檔案分享目錄屬性頁
Comment=Konqueror properties dialog plugin to share a directory with the local network
Comment[bg]=Настройка на приставката за браузъра Konqueror за споделяна на директории в локалната мрежа
Comment[bn]=স্থানীয় নেটওয়ার্কের সঙ্গে একটি ডিরেক্টরী ভাগাভাগি করতে কনকরার বৈশিষ্ট্যাবলী ডায়ালগ প্লাগিন
Comment[bs]=Dodatak za prozor Konqueror postavki za dijeljenje direktorija u lokalnoj mreži
Comment[ca]=Diàleg de propietats Konqueror de l'endollable per compartir un directori amb la xarxa local
Comment[cs]=Modul dialogu vlastností Konqueroru pro sdílení adresářů v lokální síti
Comment[da]=Konqueror egenskaber-dialog plugin til at dele en mappe med det lokale netværk
Comment[de]=Konqueror Eigenschaftendialog-Plugin zur Freigabe eines Ordners in einem lokalen Netzwerk
Comment[el]=Πρόσθετος διάλογος ρυθμίσεων του Konqueror για την κοινή χρήση ενός καταλόγου με το τοπικό δίκτυο
Comment[en_GB]=Konqueror properties dialogue plugin to share a directory with the local network
Comment[es]=Complemento de diálogo de propiedades de Konqueror para compartir un directorio con la red local
Comment[et]=Konquerori omaduste dialoogi plugin kataloogi jagamiseks kohtvõrgus
Comment[eu]=Konqueror-en propietateen elkarrizketa-koadro plugina direktorio bat sare lokalean partekatzeko
Comment[fa]=ویژگیهای وصلۀ محاورۀ Konqueror برای اشتراک فهرست راهنما با شبکۀ محلی
Comment[fi]=Konqueroroin laajennus, jolla voi jakaa kansioita lähiverkossa
Comment[fr]=Module de Konqueror pour le partage d'un dossier sur le réseau local
Comment[gl]=Diálogo de propiedades do plugin de Konqueror para compartir coa rede local
Comment[he]=תוסף מאפייני דו-שיח של Konqueror כדי לשתף סיפריה עם רשת מקומית
Comment[hu]=Konqueror tulajdonságablak-modul könyvtár megosztásához a helyi hálózaton
Comment[it]=Plugin delle proprietà di Konqueror per condividere una cartella con la rete locale
Comment[ja]=ローカルネットワークでディレクトリを共有する Konqueror プロパティダイアログのプラグイン
Comment[ka]=Konqueror თვისებების დიალოგის მოდული ლოკალურ ქსელთან გასაზიარებლად
Comment[kk]=Каталогты жергілікті желімен ортақтастыратын Konqueror қасиеттер диалогының плагин модулі
Comment[km]=ប្រអប់​លក្ខណៈ​សម្បត្តិ Konqueror ដើម្បី​ចែក​រំលែក​ថត​នៅ​ក្នុង​បណ្ដាញ​មូលដ្ឋាន
Comment[lt]=Konqueror nustatymų dialogo įskiepis, skirtas dalintis aplanku vietiniame tinkle
Comment[mk]=Приклучок со дијалог за својства во Konqueror за делење на датотеки со локалната мрежа
Comment[nb]=Programtillegg for Konquerors egenskapsdialog for å dele en mappe på lokalnettet
Comment[nds]=Moduul för en Konqueror-Egenschappendialoog för't Freegeven vun Ornern in't lokale Nettwark
Comment[ne]=स्थानीय सञ्जालसँग डाइरेक्टरी साझेदार गर्न कन्क्वेरर विशेषता संवाद प्लगइन
Comment[nl]=Konqueror-plugin met instellingen om bestanden te delen via het lokale netwerk
Comment[nn]=Konqueror-vising av eigenskapar til ein delt katalog i det lokale nettverket
Comment[pl]=Wtyczka właściwości dla Konquerora umożliwiająca współdzielenie katalogu w sieci lokalnej
Comment[pt]='Plugin' de janela de propriedades do Konqueror para partilhar uma pasta na rede local
Comment[pt_BR]=Plug-in de diálogo de propriedades do Konqueror para o compartilhamento de uma pasta em uma rede local
Comment[ru]=Модуль свойств Konqueror для разрешения общего доступа к каталогу из локальной сети
Comment[sk]=Modul Konquerora pre zdieľanie priečinku v lokálnej sieti
Comment[sl]=Vstavek za Konqueror s pogovornim oknom za lastnosti za souporabo mape v krajevnem omrežju
Comment[sr]=Прикључак Konqueror-а за подешавање својстава дељења директоријума у локалној мрежи
Comment[sr@Latn]=Priključak Konqueror-a za podešavanje svojstava deljenja direktorijuma u lokalnoj mreži
Comment[sv]=Konqueror-insticksprogram med egenskapsdialogruta för att dela en katalog i det lokala nätverket
Comment[ta]=Konqueror பண்புகளின் உரையாடல் செருகுகள் அடைவை சம்பா சேவையகத்துடன் பகிரவேண்டிய செருகுகள்
Comment[tg]=Модули муколамаи хусусиятҳои Konqueror барои истифодабарии муштараки феҳрист бо шабакаи маҳалллӣ
Comment[tr]=Yerel ağ ile dizin paylaşımı için Konqueror iletişim eklentisi özellikleri
Comment[uk]=Втулок діалогу властивостей Konqueror для дозволу спільного доступу до каталогу з локальної мережі
Comment[zh_CN]=可将目录与局域网共享的 Konqueror 属性页对话框插件
Comment[zh_HK]=用於與本地網絡分享目錄的 Konqueror 屬性對話盒插件
Comment[zh_TW]=Konqueror 屬性對話框外掛程式，用於在本地端網路上分享目錄
X-KDE-Library=fileshare_propsdlgplugin
X-KDE-Protocol=file
ServiceTypes=KPropsDlg/Plugin,inode/directory
