[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=fileshare
Name=Fileshare Konqueror Directory Properties Page
Comment=Konqueror properties dialog plugin to share a directory with the local network
X-KDE-Library=fileshare_propsdlgplugin
X-KDE-Protocol=file
ServiceTypes=KPropsDlg/Plugin,inode/directory
