[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=fileshare
Name=Fileshare Konqueror Directory Properties Page
Name[x-test]=xxFileshare Konqueror Directory Properties Pagexx
Comment=Konqueror properties dialog plugin to share a directory with the local network
Comment[x-test]=xxKonqueror properties dialog plugin to share a directory with the local networkxx
X-KDE-Library=fileshare_propsdlgplugin
X-KDE-Protocol=file
ServiceTypes=KPropsDlg/Plugin,inode/directory
