[Desktop Entry]
Exec=kcmshell kcmsambaconf
Icon=kcmsambaconf
Type=Application

Terminal=false
X-KDE-FactoryName=KcmSambaConf
X-KDE-Library=kcmsambaconf
X-KDE-ModuleType=Library
X-KDE-SubstituteUID=false
X-KDE-HasReadOnlyMode=true
X-KDE-RootOnly=true
X-KDE-ParentApp=kcontrol
Categories=Qt;KDE;X-KDE-settings-network;Settings;
OnlyShowIn=KDE;

Comment=A module to configure shares for Microsoft Windows
Comment[be]=Модуль настаўлення агульных рэсурсаў для Microsoft Windows
Comment[bg]=Настройване споделянето на ресурси с Майкрософт Уиндоус
Comment[bn]=মাইক্রোসফ্ট উইন্ডোজের জন্য ভাগাভাগি কনফিগার করতে একটি মডিউল
Comment[bs]=Modul za konfigurisanje dijeljenja direktorija sa Microsoft Windowsom
Comment[ca]=Un mòdul per configurar els recursos compartits de Microsoft Windows
Comment[cs]=Modul pro konfiguraci sdílených prostředků MS Windows
Comment[da]=Et modul til at indstille shares delt med Microsoft Windows
Comment[de]=Ein Modul zum Einrichten von Microsoft Windows-Freigaben
Comment[el]=Ένα άρθρωμα για τη ρύθμιση κοινόχρηστων για τα Microsoft Windows
Comment[es]=Un módulo para configurar recursos compartidos de Microsoft Windows
Comment[et]=Microsoft Windowsi jagatud ressursside seadistusmoodul
Comment[eu]=Microsoft Windows-en partekatzeak konfiguratzeko modulu bat
Comment[fa]=یک پیمانه جهت پیکربندی مشترکات برای میکروسافت ویندوز
Comment[fi]=Moduli Microsoft Windows jakojen asetuksiin
Comment[fr]=Un module permettant de configurer les partages Microsoft Windows
Comment[gl]=Un módulo para configurar comparticións con Microsoft Windows
Comment[he]=מודול להגדרת שיתופים עם חלונות של מיקרוסופט
Comment[hu]=Beállítómodul Microsoft Windows-os megosztásokhoz
Comment[is]=Eining til að stilla sameignir fyrir Microsoft Windows
Comment[it]=Un modulo per configurare le condivisioni per Microsoft Windows
Comment[ja]=Microsoft Windows との共有設定
Comment[ka]=Microsoft Windows-ის საზიაროების დაკონფიგურირების მოდული
Comment[kk]=Microsoft Windows-пен ортақ ресурстарды баптау модулі
Comment[km]=ម៉ូឌុល​ដើម្បី​កំណត់​រចនា​សម្ព័ន្ធ​ការ​ចែក​រំលែក​សម្រាប់​ម៉ៃក្រូសូហ្វ​វ៉ីនដូ
Comment[lt]=Modulis MS Windows dalinamų diskų konfigūravimui
Comment[nb]=En modul som setter opp delte ressurser for Microsoft Windows
Comment[nds]=Moduul för't Instellen vun Microsoft-Windows-Ressourcen
Comment[ne]=माइक्रोसफ्ट विन्डोजका लागि साझेदारी कन्फिगर गर्न मोड्युल
Comment[nl]=Een module voor het instellen van shares voor Microsoft Windows
Comment[nn]=Ein modul for oppsett av delte Microsoft Windows-ressursar
Comment[pl]=Moduł do konfigurowania udziałów Microsoft Windows
Comment[pt]=Um módulo para configurar partilhas para o Microsoft Windows
Comment[pt_BR]=Um módulo para configurar compartilhamentos com o Microsoft Windows
Comment[ru]=Модуль настройки общих ресурсов для Microsoft Windows
Comment[sk]=Modul na konfiguráciu zdieľania pre Microsoft Windows
Comment[sl]=Modul za nastavitev souporabe map za Microsoft Windows
Comment[sr]=Модул који подешава дељења за Microsoft Windows
Comment[sr@Latn]=Modul koji podešava deljenja za Microsoft Windows
Comment[sv]=En modul för att ställa in kataloger delade med Microsoft Windows
Comment[tr]=Microsoft Windows paylaşımlarını yapılandıran modül
Comment[uk]=Модуль для налаштування спільних ресурсів для Microsoft Windows
Comment[zh_CN]=配置 Microsoft Windows 共享的模块
Comment[zh_HK]=設定 Microsoft Windows 分享資源的模組
Comment[zh_TW]=設定 Microsoft Windows 分享的模組
Keywords=KcmSambaConf,kcmsambaconf,samba,windows,share
Keywords[be]=агульны рэсурс,KcmSambaConf,kcmsambaconf,samba,windows,share
Keywords[bg]=Самба, Уиндоус, мрежа, споделяне, KcmSambaConf, kcmsambaconf, samba, windows, share
Keywords[ca]=KcmSambaConf,kcmsambaconf,samba,windows,share,recurs compartit
Keywords[cs]=Samba,nastavení,windows,sdílení
Keywords[de]=KcmSambaConf,kcmsambaconf,samba,windows,freigabe
Keywords[et]=KcmSambaConf,kcmsambaconf,samba,windows,jagatud ressursid
Keywords[eu]=KcmSambaConf,kcmsambaconf,samba,windows,partekatze
Keywords[fa]=KcmSambaConf، kcmsambaconf، samba، ویندوز، مشترک
Keywords[fi]=KcmSambaConf,kcmsambaconf,samba,windows,jako
Keywords[fr]=KcmSambaConf,kcmsambaconf,samba,windows,partage
Keywords[gl]=KcmSambaConf,kcmsambaconf,samba,widows,compartir
Keywords[he]=KcmSambaConf,kcmsambaconf,samba,windows,share, סמבה, חלונות, שיתוף, שיתופי חלונות
Keywords[hu]=KcmSambaConf,kcmsambaconf,samba,windows,megosztás
Keywords[is]=KcmSambaConf,kcmsambaconf,samba,windows,sameign
Keywords[it]=KcmSambaConf,kcmsambaconf,samba,windows,condivisione
Keywords[ja]=KcmSambaConf,kcmsambaconf,samba,windows,共有
Keywords[km]=KcmSambaConf,kcmsambaconf,samba,បង្អួច,ចែក​រំលែក
Keywords[lt]=KcmSambaConf,kcmsambaconf,samba,windows,share,dalinimasis,dalintis,pasidalinti
Keywords[nb]=KcmSambaConf,kcmsambaconf,samba,windows,delt,ressurs
Keywords[nds]=KcmSambaConf,kcmsambaconf,samba,windows,share,freegaav,freegaven
Keywords[ne]=KcmSambaConf,kcmsambaconf,साम्बा,विन्डोज,साझेदारी
Keywords[nl]=KcmSambaConf,kcmsambaconf,samba,windows netwerk,share,gedeelde mappen,gedeelde printers
Keywords[nn]=KcmSambaConf,kcmsambaconf,samba,Windows,delt ressurs
Keywords[pl]=KcmSambaConf,kcmsambaconf,samba,Samba,serwer,SMB,smb,windows,udział,dysk sieciowy
Keywords[pt]=KcmSambaConf,kcmsambaconf,Samba,Windows,partilha
Keywords[sl]=KcmSambaConf,kcmsambaconf,Samba,samba,souporaba,deljeno
Keywords[sv]=IM SAMBA-inställning,IM samba-inställning,Windows,dela
Keywords[uk]=KcmSambaConf,kcmsambaconf,samba,windows,share,спільні ресурси
Keywords[zh_CN]=KcmSambaConf,kcmsambaconf,samba,windows,share,共享
Name=Samba
Name[bg]=Самба
Name[bn]=সাম্বা
Name[he]=סמבה
Name[ne]=साम्बा
Name[pa]=ਸਾਂਬਾ
