[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell kcmsambaconf
Icon=kcmsambaconf
Type=Application

Terminal=false
X-KDE-FactoryName=KcmSambaConf
X-KDE-Library=kcmsambaconf
X-KDE-ModuleType=Library
X-KDE-SubstituteUID=false
X-KDE-HasReadOnlyMode=true
X-KDE-RootOnly=true
X-KDE-ParentApp=kcontrol
Categories=Qt;KDE;X-KDE-settings-network;
OnlyShowIn=KDE;

Comment=A module to configure shares for Microsoft Windows
Comment[bg]=Настройки на споделянето на ресурси с Майкрософт Уиндоус
Comment[cs]=Modul pro konfiguraci sdílených prostředků MS Windows
Comment[da]=En modul til at indstille shares delt med Microsoft Windows
Comment[de]=Ein Modul zum Einrichten von Microsoft Windows-Freigaben
Comment[es]=Un modulo para configurar recursos compartidos de Microsoft Windows
Comment[et]=Microsoft Windowsi jagatud ressursside seadistusmoodul
Comment[fr]=Un module permettant de configurer les partages Microsoft Windows
Comment[pt_BR]=Um módulo para configurar compartilhamentos com o Microsoft Windows
Comment[sr]=Модул који подешава дељења за Microsoft Windows
Comment[sr@Latn]=Modul koji podešava deljenja za Microsoft Windows
Comment[sv]=En modul för att ställa in kataloger delade med Microsoft Windows
Comment[tr]=Microsoft Windows paylaşımlarını yapılandıran modül
Comment[uk]=Модуль для налаштування спільних ресурсів для Microsoft Windows
Comment[xx]=xxA module to configure shares for Microsoft Windowsxx
Comment[zh_CN]=配置 Microsoft Windows 共享的模块
Keywords=KcmSambaConf,kcmsambaconf,samba,windows,share
Keywords[bg]=Самба, Уиндоус, мрежа, споделяне, KcmSambaConf, kcmsambaconf, samba, windows, share
Keywords[cs]=Samba,nastavení,windows,sdílení
Keywords[de]=KcmSambaConf,kcmsambaconf,samba,windows,freigabe
Keywords[et]=KcmSambaConf,kcmsambaconf,samba,windows,jagatud ressursid
Keywords[fr]=KcmSambaConf,kcmsambaconf,samba,windows,partage
Keywords[he]=KcmSambaConf,kcmsambaconf,samba,windows,share, סמבה, חלונות, שיתוף, שיתופי חלונות
Keywords[sv]=IM SAMBA-inställning,IM samba-inställning,Windows,dela
Keywords[uk]=KcmSambaConf,kcmsambaconf,samba,windows,share,спільні ресурси
Keywords[xx]=xxKcmSambaConf,kcmsambaconf,samba,windows,sharexx
Keywords[zh_CN]=KcmSambaConf,kcmsambaconf,samba,windows,share,共享
Name=Samba
Name[bg]=Самба
Name[he]=סמבה
Name[pa]=ਸਾਂਬਾ
Name[xx]=xxSambaxx
