[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell kcmsambaconf
Icon=kcmsambaconf
Type=Application

Terminal=false
X-KDE-FactoryName=KcmSambaConf
X-KDE-Library=kcmsambaconf
X-KDE-ModuleType=Library
X-KDE-SubstituteUID=false
X-KDE-HasReadOnlyMode=true
X-KDE-RootOnly=true
X-KDE-ParentApp=kcontrol
Categories=Qt;KDE;X-KDE-settings-network
OnlyShowIn=KDE

Comment=KcmSambaConf - a KControl module for configuring a samba server
Comment[ar]=KcmSambaConf- وحدة KControlمن أجل تهيئة مخدم samba
Comment[bg]=Настройки на Самба
Comment[bs]=KcmSambaConf - KControl modul za podešavanje Samba servera
Comment[ca]=KcmSambaConf - un mòdul de KControl per configurar un servidor samba
Comment[da]=KcmSambaConf - et KControl modul til indstilling af en samba-server
Comment[de]=KcmSambaConf - ein Kontrollzentrummodul zur Einrichtung eines Samba-Servers
Comment[es]=KcmSambaConf - un módulo de KControl para configurar el servidor samba
Comment[et]=KcmSambaConf - KDE juhtimiskeskuse moodul Samba serveri seadistamiseks
Comment[eu]=KcmSambaConf - samba zerbitzaria konfiguratzeko KControl modulu bat
Comment[fi]=KcmSambaConf - Ohjauskeskuksen moduuli, jossa voi muokata samba-palvelinta
Comment[fr]=KcmSambaConf -un module de KControl pour configurer un serveur Samba
Comment[hu]=KcmSambaConf - beállítómodul a Samba-kiszolgáló beállításához
Comment[is]=KcmSambaConf - Stjórneining til að stilla samba þjónustur
Comment[it]=KcmSambaConf - un modulo KControl per configurare un server samba
Comment[ja]=KcmSambaConf - sambaサーバを設定するKControlモジュール
Comment[mk]=KcmSambaConf - модул на KControl за конфигурирање на samba-сервер
Comment[nb]=KcmSambaConf - en KControl-modul for å sette opp en Samba-tjener
Comment[nl]=KcmSambaConf - Een KControl-module om een Samba-server in te stellen
Comment[nn]=KcmSambaConf - ein kontrollmodul for oppsett av samba-tenarar
Comment[pl]=KcmSambaConf - moduł Centrum Sterowania do konfiguracji serwera Samby
Comment[pt]=KcmSambaConf - um módulo do KControl para configurar um servidor samba
Comment[pt_BR]=KcmSambaConf - um módulo do Centro de Controle para a configuração do servidor Samba
Comment[se]=KcmSambaConf - a KControl moduvlla mainna heiveha samba bálvvá
Comment[sk]=KcmSambaConf - ovládací modul pre nastavenie serveru samba
Comment[sl]=KcmSambaConf - Modul za KControl za nastavljanje strežnika Samba
Comment[sr]=KcmSambaConf — модула KControl-а за подешавање Samba сервера
Comment[sr@Latn]=KcmSambaConf — modula KControl-a za podešavanje Samba servera
Comment[sv]=IM SAMBA-inställning: En modul i inställningscentralen för att anpassa en SAMBA-server
Comment[ta]=KcmSambaConf - ஒரு KControl கூறு சம்பா சேவையகத்தை உள்ளமைக்க உதவும்
Comment[tg]=KcmSambaConf - воҳиди KИдора барои батанзимдарории хидматрасони samba
Comment[uk]=KcmSambaConf - Модуль Центру керування для налаштування сервера samba
Comment[ven]=KcmSambaConf - a KControl module yau dzudzanya siva ya samba
Comment[xh]=KcmSambaConf - umnqongo womlinganiselo we KControl wokuqwalasela umncedisi we samba
Comment[zh_CN]=KcmSambaConf - 配置 Samba 服务器的 KControl 模块
Keywords=KcmSambaConf,kcmsambaconf
Keywords[bg]=Самба, Уиндоус, мрежа, споделяне, KcmSambaConf, kcmsambaconf
Keywords[fi]=KcmSambaConf,kcmsambaconf,samba
Keywords[nl]=KcmSambaConf,kcmsambaconf,samba
Keywords[pl]=KcmSambaConf,kcmsambaconf,samba,Samba,serwer,SMB,smb
Keywords[pt_BR]=samba,kcmsambaconf
Keywords[sv]=IM SAMBA-inställning,IM samba-inställning
Keywords[ven]=KcmSambaConf,kcm_sambaconf
Name=Samba Configuration
Name[be]=Канфігурацыя Samba
Name[bg]=Самба
Name[br]=Kefluniadur Samba
Name[bs]=Podešavanje Sambe
Name[ca]=Configuració de Samba
Name[cs]=Nastavení Samby
Name[da]=Indstilling af samba
Name[de]=Samba-Einrichtung
Name[es]=Configuración de Samba
Name[et]=Samba seadistamine
Name[fi]=Samban asetukset
Name[fr]=Configuration de Samba
Name[hu]=Samba-kiszolgáló
Name[is]=Stillingar Samba
Name[it]=Configurazione samba
Name[ja]=Sambaの設定
Name[mk]=Конфигурација на Samba 
Name[nb]=Samba-oppsett
Name[nl]=Instellingen voor Samba
Name[nn]=Samba-oppsett
Name[pl]=Konfiguracja Samby
Name[pt]=Configuração do Samba
Name[pt_BR]=Configuração do Samba
Name[ru]=Параметры Samba
Name[se]=Samba heivehus
Name[sk]=Nastavenie Samba
Name[sl]=Nastavitve Sambe
Name[sr]=Подешавање Samba-е
Name[sr@Latn]=Podešavanje Samba-e
Name[sv]=Anpassa SAMBA
Name[tg]=Батанзимдарории Samba
Name[uk]=Налаштування Samba
Name[ven]=Dzudzanyo ya Samba
Name[xh]=Uqwalaselo lwencoko
Name[zh_CN]=Samba 配置
Name[zu]=Inhlanganiselo Ye Samba
