[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=kcmsambaconf
Name=Samba Directory Properties Page
Name[es]=Página de propiedades de directorio Samba
Name[pt]=Página de Propriedades da Directoria do Samba
Name[pt_BR]=Página de Propriedades da Directoria do Samba
Name[sv]=Sida med egenskaper för Samba-katalog

Comment=Konqueror properties dialog plugin to share a directory with a Samba server
X-KDE-Library=ksambakonqiplugin
ServiceTypes=KPropsDlg/Plugin,inode/directory
