[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=kcmsambaconf
Name=Samba directory properties page
Name[af]=Samba gids eienskappe bladsy
Name[bs]=Stranica sa osobinama Samba direktorija
Name[da]=Samba-mappes egenskabsside
Name[de]=Samba-Verzeichnis: Eigenschaften
Name[el]=Σελίδα ιδιοτήτων καταλόγου Samba
Name[es]=Página de propiedades de directorio Samba
Name[fi]=Samba hakemiston ominaisuussivu
Name[fr]=Page des propriétés d'un dossier Samba
Name[he]=דף מאפייני ספריה של Sabma
Name[ja]=Sambaディレクトリプロパティページ
Name[pt]=Página de propriedades da directoria do Samba
Name[pt_BR]=Página de propriedades do diretório Samba
Name[ru]=Настройка каталога Samba
Name[sv]=Sida med egenskaper för Samba-katalog
Name[tr]=Samba dizin özellikleri sayfası
Name[uk]=Сторінка властивостей каталогу Samba
Name[ven]=Siatari la tshishumiswa tsha tsumbavhulwo tsha Samba
Name[xh]=Samba iphepha yesilawulo sempahla
Name[zh_CN]=Samba 目录属性页面
Name[zh_TW]=Samba 目錄屬性頁
Name[zu]=Ikhasi lenkomba zobuniniu zohlu lwamafayela e-samba
X-KDE-Library=ksambakonqiplugin
ServiceTypes=KPropsDlg/Plugin,inode/directory
