[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Samba directory properties page
Name[de]=Samba Freigabe Information
X-KDE-Library=ksambakonqiplugin
ServiceTypes=KPropsDlg/Plugin,inode/directory
