[Desktop Entry]
Type=Service
Icon=preferences-system-network-share-windows
Name=Fileshare Konqueror Directory Properties Page
Name[ar]=صفحة دليل خصائص مشاركة ملفات كونكيورر 
Name[ast]=Páxina de propiedaes del direutoriu pa compartir ficheros de Konqueror
Name[bg]=Настройки за приставката за браузъра за споделяна на файлове
Name[bn]=ফাইল ভাগাভাগি কনকরার ডিরেক্টরী বৈশিষ্ট্যাবলী পাতা
Name[bs]=Stranica Konqueror sa svojstvima direktorija za dijeljenje datoteka
Name[ca]=Pàgina de propietats del directori de compartició de fitxers del Konqueror
Name[ca@valencia]=Pàgina de propietats del directori de compartició de fitxers del Konqueror
Name[cs]=Stránka vlastností adresáře sdílení Konqueroru
Name[da]=Fileshare Konqueror-mappens side med egenskaber
Name[de]=Ordnerfreigabe-Eigenschaftenseite für Konqueror
Name[el]=Σελίδα ιδιοτήτων κοινόχρηστου καταλόγου του Konqueror
Name[en_GB]=Fileshare Konqueror Directory Properties Page
Name[eo]=Paĝo de ecoj de la komunaj dosierujoj de Konkeranto
Name[es]=Página de propiedades del directorio para compartir archivos de Konqueror
Name[et]=Failijagamise Konquerori kataloogi omaduste lehekülg
Name[eu]=Fitxategiak partekatzeko Konqueror-en direktorioaren propietateen orria
Name[fa]=صفحه ویژگیهای فهرست راهنمای اشتراک پرونده Konqueror
Name[fi]=Konquerorin tiedostojakojen ominaisuussivu
Name[fr]=Page des propriétés d'un dossier de partage de Konqueror
Name[ga]=Leathanach Airíonna Konqueror: Comhroinnt Comhadlainne
Name[gl]=Páxina coas propiedades do directorio de ficheiros compartidos de Konqueror
Name[he]=דף מאפייני ספרית קבצים משותפת של Konqueror
Name[hi]=फ़ाइलशेयर कॉन्करर डिरेक्ट्रीज़ गुण पृष्ठ
Name[hne]=फाइलसेयर कान्करर डिरेक्टरीज गुन पेज
Name[hr]=Stranica sa postavkama svojstava Konqueror Directoryja za dijeljenje datoteka
Name[hu]=Fájlmegosztási lap a Konqueror könyvtártulajdonságainál
Name[ia]=Pagina de proprietates de directorio de Konqueror pro compartir de file
Name[is]=Skráastjóraeiginleikar Konqueror
Name[it]=Pagina delle proprietà di Konqueror per la condivisione
Name[ja]=Konqueror でファイル共有するディレクトリのプロパティのページ
Name[kk]=Konqueror файлдарын ортақтастыру каталогының қасиеттер беті
Name[km]=ទំព័រ​លក្ខណៈ​សម្បត្តិ​ថត Konqueror សម្រាប់​ការ​ចែក​រំលែក
Name[ko]=Konqueror 디렉터리 속성 페이지의 파일 공유 탭
Name[lt]=Failų dalinimosi Konqueror aplanko nustatymų puslapis
Name[lv]=Konqueror mapes koplietošanas īpašību lapa
Name[mk]=Страница со параметри за делен именик во Konqueror
Name[ml]=ഫയല്‍ഷെയര്‍ കോണ്‍ക്വറര്‍ തട്ടിന്റെ ഗുണവിശേഷങ്ങളുടെ താള്‍
Name[nb]=Fildeler – Side i Konquerors mappegenskaper
Name[nds]=Konqueror Ornerfreegaav-Egenschappensiet
Name[ne]=फाइल साझेदारी कन्क्वेरर डाइरेक्टरी विशेषता पृष्ठ
Name[nl]=Configuratiepagina Konqueror bestanden delen
Name[nn]=Side for katalogeigenskapar til fildeling i Konqueror
Name[pa]=ਫਾਇਲ ਸਾਂਝ ਕੋਨਕਿਊਰੋਰ ਡਾਇਰੈਕਟਰੀ ਵਿਸ਼ੇਸ਼ਤਾ ਪੇਜ਼
Name[pl]=Strona współdzielenia we właściwościach katalogu w Konquerorze
Name[pt]=Página de Propriedades da Pasta de Partilha do Konqueror
Name[pt_BR]=Página de propriedades da pasta de compartilhamento de arquivos do Konqueror
Name[ru]=Общий доступ к файлам — свойства каталога в Konqueror
Name[si]=ගොනු හුවමාරු Konqueror නාමාවලි වත්කම් පිටුව
Name[sk]=Zdieľanie adresárov pre Konqueror
Name[sl]=Stran z lastnostmi za souporabo mape
Name[sr]=Страница К‑освајача са својствима фасцикле за дељење фајлова
Name[sr@ijekavian]=Страница К‑освајача са својствима фасцикле за дијељење фајлова
Name[sr@ijekavianlatin]=Stranica K‑osvajača sa svojstvima fascikle za dijeljenje fajlova
Name[sr@latin]=Stranica K‑osvajača sa svojstvima fascikle za deljenje fajlova
Name[sv]=Konquerors fildelningssida med katalogegenskaper
Name[ta]=Fileshare Konqueror அடைவு பண்புகளின் பக்கம்
Name[tg]=Саҳифаи Феҳристи Хусусиятҳо оиди Konqueror Истифодабарии Муштараки Файлҳо
Name[tr]=Dosya Paylaşımı Konqueror Dizin Özellikleri Sayfası
Name[ug]=Fileshare Konqueror مۇندەرىجە خاسلىق بېتى
Name[uk]=Сторінка властивостей каталогу для спільного доступу
Name[vi]=Trang thuộc tính của chia sẻ thư mục Konqueror
Name[x-test]=xxFileshare Konqueror Directory Properties Pagexx
Name[zh_CN]=Konqueror 文件共享目录属性页
Name[zh_HK]=檔案分享 Konqueror 目錄屬性頁
Name[zh_TW]=Konqueror 檔案分享目錄屬性頁
Comment=Konqueror properties dialog plugin to share a directory with the local network
Comment[ar]=خصائص حوار إضافة كونكيورر لمشاركة مسار مع الشبكة المحلية
Comment[ast]=Complementu de diálogu de propiedaes de Konqueror pa compartir un direutoriu cola rede llocal
Comment[bg]=Настройка на приставката за браузъра Konqueror за споделяна на директории в локалната мрежа
Comment[bn]=স্থানীয় নেটওয়ার্কের সঙ্গে একটি ডিরেক্টরী ভাগাভাগি করতে কনকরার বৈশিষ্ট্যাবলী ডায়ালগ প্লাগিন
Comment[bs]=Priključak dijaloga Konqueror-a za svojstva dijeljenja direktorija u lokalnoj mreži
Comment[ca]=Diàleg de propietats del connector del Konqueror per a compartir un directori amb la xarxa local
Comment[ca@valencia]=Diàleg de propietats del connector del Konqueror per a compartir un directori amb la xarxa local
Comment[cs]=Modul dialogu vlastností Konqueroru pro sdílení adresářů v lokální síti
Comment[da]=Konqueror egenskaber-dialog plugin til at dele en mappe med det lokale netværk
Comment[de]=Modul für den Konqueror-Eigenschaftendialog zur Freigabe eines Ordners im Netzwerk
Comment[el]=Πρόσθετος διάλογος ρυθμίσεων του Konqueror για την κοινή χρήση ενός καταλόγου με το τοπικό δίκτυο
Comment[en_GB]=Konqueror properties dialogue plugin to share a directory with the local network
Comment[eo]=Kromaĵo de Konkeranto por komunigi dosierujon sur la loka reto
Comment[es]=Complemento de diálogo de propiedades de Konqueror para compartir un directorio con la red local
Comment[et]=Konquerori omaduste dialoogi plugin kataloogi jagamiseks kohtvõrgus
Comment[eu]=Konqueror-en propietateen elkarrizketa-koadroaren plugina direktorio bat sare lokalean partekatzeko
Comment[fa]=ویژگیهای وصله محاوره Konqueror برای اشتراک فهرست راهنما با شبکه محلی
Comment[fi]=Konquerorin liitännäinen, jolla voi jakaa kansioita lähiverkossa
Comment[fr]=Module externe proposant une boîte de dialogue de propriétés pour Konqueror pour partager un dossier sur le réseau local
Comment[ga]=Breiseán dialóige airíonna Konqueror lenar féidir comhadlann a chomhroinnt leis an líonra logánta
Comment[gl]=Diálogo de propiedades do engadido de Konqueror para compartir un directorio pola rede local
Comment[he]=תוסף מאפייני דו-שיח של Konqueror כדי לשתף סיפריה עם רשת מקומית
Comment[hi]=स्थानीय नेटवर्क के साथ डिरेक्ट्री साझा करने के लिए कॉन्करर गुण संवाद प्लगइन
Comment[hne]=लोकल नेटवर्क के साथ डिरेक्टरी साझा करे बर कान्करर गुन गोठ प्लगइन
Comment[hr]=Dijalogni priključak postavki za Konqueror za dijeljenje direktorija na lokalnoj mreži
Comment[hu]=Konqueror párbeszédablak könyvtár megosztásához a helyi hálózaton
Comment[ia]=Plug-in de dialogo de proprietate de Konqueror pro compartir un directorio con le rete local
Comment[is]=Konqueror properties dialog plugin to share a directory with the local network
Comment[it]=Estensione delle proprietà di Konqueror per condividere una cartella con la rete locale
Comment[ja]=ローカルネットワークでディレクトリを共有する Konqueror プロパティダイアログのプラグイン
Comment[kk]=Каталогты жергілікті желімен ортақтастыратын Konqueror қасиеттер диалогының плагині
Comment[km]=ប្រអប់​លក្ខណៈ​សម្បត្តិ Konqueror ដើម្បី​ចែក​រំលែក​ថត​នៅ​ក្នុង​បណ្ដាញ​មូលដ្ឋាន
Comment[ko]=로컬 네트워크에서 파일을 공유하기 위한 Konqueror 속성 대화 상자 플러그인
Comment[lt]=Konqueror nustatymų dialogo papildinys, skirtas dalintis aplanku vietiniame tinkle
Comment[lv]=Konqueror īpašību dialoga spraudnis mapes publicēšanai koplietošanai lokālajā tīklā
Comment[mk]=Приклучок со дијалог за својства во Konqueror за делење на датотеки со локалната мрежа
Comment[ml]=കോണ്‍ക്വററിലെ പ്രാദേശിക ശൃഖലയുമായി തട്ടു് പങ്കുവെക്കാനുള്ള സംയോജകത്തിന്റെ ഗുണവിശേഷങ്ങളുടെ സംവാദജാലകം
Comment[nb]=Programtillegg for Konquerors egenskapsdialog for å dele en mappe på lokalnettet
Comment[nds]=Moduul för en Konqueror-Egenschappendialoog för't Freegeven vun Ornern in't lokale Nettwark
Comment[ne]=स्थानीय सञ्जालसँग डाइरेक्टरी साझेदार गर्न कन्क्वेरर विशेषता संवाद प्लगइन
Comment[nl]=Konqueror-plugin met instellingen om bestanden te delen via het lokale netwerk
Comment[nn]=Konqueror-vising av eigenskapar til ein delt katalog i det lokale nettverket
Comment[pa]=ਕੋਨਕਿਉਰੋਰ ਵਿਸ਼ੇਸ਼ਤਾ ਡਾਈਲਾਗ ਪਲੱਗਇਨ ਜੋ ਲੋਕਲ ਨੈੱਟਵਰਕ ਨਾਲ ਡਾਇਰੈਕਟਰੀ ਸਾਂਝੀ ਕਰਦੀ ਹੈ
Comment[pl]=Wtyczka właściwości dla Konquerora umożliwiająca współdzielenie katalogu w sieci lokalnej
Comment[pt]='Plugin' de janela de propriedades do Konqueror para partilhar uma pasta na rede local
Comment[pt_BR]=Plugin de diálogo de propriedades do Konqueror para o compartilhamento de uma pasta em uma rede local
Comment[ro]=Modul pentru dialogul de proprietăți Konqueror pentru a partaja un director cu rețeaua locală
Comment[ru]=Модуль свойств Konqueror для организации общего доступа к каталогу по локальной сети
Comment[si]=ප්‍රාදේශීය ජාලයක් තුල බහලුමක් හුවමාරු කිරීම සඳහා Konqueror වත්කම් සංවාද ප්ලගිනය
Comment[sk]=Modul Konquerora pre zdieľanie adresára v lokálnej sieti
Comment[sl]=Vstavek za Konqueror s pogovornim oknom za lastnosti za souporabo mape v krajevnem omrežju
Comment[sr]=Прикључак дијалога К‑освајача за својства дељења фасцикли у локалној мрежи
Comment[sr@ijekavian]=Прикључак дијалога К‑освајача за својства дијељења фасцикли у локалној мрежи
Comment[sr@ijekavianlatin]=Priključak dijaloga K‑osvajača za svojstva dijeljenja fascikli u lokalnoj mreži
Comment[sr@latin]=Priključak dijaloga K‑osvajača za svojstva deljenja fascikli u lokalnoj mreži
Comment[sv]=Konqueror-insticksprogram med egenskapsdialogruta för att dela en katalog i det lokala nätverket
Comment[ta]=Konqueror பண்புகளின் உரையாடல் செருகுகள் அடைவை சம்பா சேவையகத்துடன் பகிரவேண்டிய செருகுகள்
Comment[tg]=Модули муколамаи хусусиятҳои Konqueror барои истифодабарии муштараки феҳрист бо шабакаи маҳалллӣ
Comment[tr]=Yerel ağ ile dizin paylaşımı için Konqueror iletişim eklentisi özellikleri
Comment[ug]=بۇKonqueror خاسلىق سۆزلەشكۈ قىستۇرمىسى بىلەن يەرلىك تور مۇندەرىجىنى ھەمبەھىرلەيدۇ
Comment[uk]=Додаток діалогового вікна властивостей Konqueror для уможливлення спільного доступу до каталогу з локальної мережі
Comment[vi]=Phần bổ sung hộp thoại thuộc tính Konqueror dùng để chia sẻ một thư mục trên mạng nội bộ
Comment[x-test]=xxKonqueror properties dialog plugin to share a directory with the local networkxx
Comment[zh_CN]=可将目录与局域网共享的 Konqueror 属性页对话框插件
Comment[zh_HK]=用於與本地網絡分享目錄的 Konqueror 屬性對話盒插件
Comment[zh_TW]=Konqueror 屬性對話框外掛程式，用於在本地端網路上分享目錄
X-KDE-Library=sambausershareplugin
X-KDE-Protocol=file
X-KDE-ServiceTypes=KPropertiesDialog/Plugin,inode/directory
